<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/newsrussia</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping resource="wps/newsrussia/entities/Group.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Users.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Genre.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Storage.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Audio.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Digest.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/DigestCover.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/DigestIssues.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/JournalCovers.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/JournalIssues.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Journals.hbm.xml"/>
    <mapping resource="wps/newsrussia/entities/Video.hbm.xml"/>

  </session-factory>
</hibernate-configuration>